@charset "UTF-8";
@font-face {
  font-family: 'Onest-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("Onest-Regular"), url("../fonts/Onest-Regular.woff2") format("woff2"), url("../fonts/Onest-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Onest-Medium';
  font-weight: 500;
  font-style: normal;
  src: local("Onest-Medium"), url("../fonts/Onest-Medium.woff2") format("woff2"), url("../fonts/Onest-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Onest-Bold';
  font-weight: 700;
  font-style: normal;
  src: local("Onest-Bold"), url("../fonts/Onest-Bold.woff2") format("woff2"), url("../fonts/Onest-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Onest-ExtraBold';
  font-weight: 800;
  font-style: normal;
  src: local("Onest-ExtraBold"), url("../fonts/Onest-ExtraBold.woff2") format("woff2"), url("../fonts/Onest-ExtraBold.woff") format("woff");
  font-display: swap;
}

a, input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder, .header-bottom__total, .news__info, .news__card-title, .category-filter__title, .category-filter__label, .category-filter__price-from, .category-filter__price-to, .category-content__title, .category-content__price-old, .category-content__span, .category-content__sort-title, .category-content__view, .seo-category__item, .product-info__code, .product-info__favorite, .product-info__compare, .product-info__item, .product-info__btn, .product-info__price-old, .product-info__price-new span, .product-info__discount, .product-info__box-price, .footer-top__addres-item, .footer-top__newsletter, .footer-bottom__title, .footer-bottom__text, .footer-bottom__development {
  font-family: "Onest-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a, input:-ms-input-placeholder,
textarea:-ms-input-placeholder, .header-bottom__total, .news__info, .news__card-title, .category-filter__title, .category-filter__label, .category-filter__price-from, .category-filter__price-to, .category-content__title, .category-content__price-old, .category-content__span, .category-content__sort-title, .category-content__view, .seo-category__item, .product-info__code, .product-info__favorite, .product-info__compare, .product-info__item, .product-info__btn, .product-info__price-old, .product-info__price-new span, .product-info__discount, .product-info__box-price, .footer-top__addres-item, .footer-top__newsletter, .footer-bottom__title, .footer-bottom__text, .footer-bottom__development {
  font-family: "Onest-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a, input::-ms-input-placeholder,
textarea::-ms-input-placeholder, .header-bottom__total, .news__info, .news__card-title, .category-filter__title, .category-filter__label, .category-filter__price-from, .category-filter__price-to, .category-content__title, .category-content__price-old, .category-content__span, .category-content__sort-title, .category-content__view, .seo-category__item, .product-info__code, .product-info__favorite, .product-info__compare, .product-info__item, .product-info__btn, .product-info__price-old, .product-info__price-new span, .product-info__discount, .product-info__box-price, .footer-top__addres-item, .footer-top__newsletter, .footer-bottom__title, .footer-bottom__text, .footer-bottom__development {
  font-family: "Onest-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a, input::placeholder,
textarea::placeholder, .header-bottom__total, .news__info, .news__card-title, .category-filter__title, .category-filter__label, .category-filter__price-from, .category-filter__price-to, .category-content__title, .category-content__price-old, .category-content__span, .category-content__sort-title, .category-content__view, .seo-category__item, .product-info__code, .product-info__favorite, .product-info__compare, .product-info__item, .product-info__btn, .product-info__price-old, .product-info__price-new span, .product-info__discount, .product-info__box-price, .footer-top__addres-item, .footer-top__newsletter, .footer-bottom__title, .footer-bottom__text, .footer-bottom__development {
  font-family: "Onest-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header-bottom__num {
  font-family: "Onest-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.category-filter__item-title, .product-info__title, .product-info__order, .product-info__add-cart {
  font-family: "Onest-Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.title, .header-menu__btn, .header-bottom__menu, .header-bottom__search, .main-slider__title, .main-slider__more, .catalog__title, .news__tag, .catalog-main__title, .category-content__price-new, .seo-category__title, .seo-category__info-title, .product-info__price-new, .footer-top__link, .footer-top__button, .footer-top__contact, .footer-bottom__link {
  font-family: "Onest-ExtraBold", sans-serif;
  font-weight: 800;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol,
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

section {
  padding: 0;
  margin: 0;
}

input,
textarea {
  outline: none;
}

body,
html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 0px;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 48px;
  line-height: 52px;
  color: #0e192e;
  margin-bottom: 48px;
}

a {
  font-size: 16px;
  line-height: 24px;
  color: #0e192e;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

a:hover {
  color: #2a79cc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #878c9e;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #878c9e;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #878c9e;
}

input::placeholder,
textarea::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #878c9e;
}

/*
path:hover{
  //fill: rgba($color: #2A79CC, $alpha: 0.2);
  fill: #878c9e;
}
*/
.breadcrumbs__inner {
  padding: 32px 0 34px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs__item + .breadcrumbs__item {
  margin-left: 40px;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item::after {
  position: absolute;
  content: "";
  right: -22px;
  top: 8px;
  width: 4px;
  height: 4px;
  background: #2a79cc;
  border-radius: 50%;
}

.breadcrumbs__item:last-of-type::after {
  display: none;
}

.breadcrumbs__link {
  font-size: 12px;
  line-height: 18px;
  color: #2a79cc;
}

.breadcrumbs-product .breadcrumbs__link {
  text-transform: uppercase;
}

.start-page {
  height: 100vh;
}

.start-page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.start-page__link + .start-page__link {
  margin-top: 20px;
}

.start-page__link {
  font-size: 20px;
  line-height: 24px;
  color: forestgreen;
  text-align: center;
}

.header {
  background: #e8eff5;
  position: relative;
}

.header .header-menu {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 171px;
  z-index: 99;
  display: none;
}

.header__logo {
  margin-right: 68px;
}

.header-empty__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
}

.header-menu {
  min-height: 614px;
  background: #fff;
  -webkit-box-shadow: 0px 20px 50px rgba(8, 31, 58, 0.1);
          box-shadow: 0px 20px 50px rgba(8, 31, 58, 0.1);
}

.header-menu__categories {
  max-width: 239px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  min-height: 614px;
}

.header-menu__item + .header-menu__item {
  margin-top: 4px;
}

.header-menu__item {
  width: 100%;
}

.header-menu__btn {
  width: 100%;
  padding: 15px 16px;
  background: #fff;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #0e192e;
  text-align: left;
}

.header-menu__btn:hover {
  background: #e8eff5;
}

.header-menu.active {
  display: block;
}

.header-top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 14px;
}

.header-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header-top__town, .header-top__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__town svg, .header-top__phone svg {
  margin-right: 8px;
}

.header-top__phone {
  margin-left: 24px;
}

.header-top__item + .header-top__item {
  margin-left: 24px;
}

.header-nav {
  max-width: 100%;
  width: 100%;
  margin-left: 0;
  margin-right: auto;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 13px;
}

.header-bottom__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  border-radius: 4px;
  padding: 16px 24px;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #0e192e;
}

.header-bottom__menu img {
  margin-right: 16px;
}

.header-bottom__form {
  max-width: 575px;
  width: 100%;
}

.header-bottom__label {
  width: 100%;
  position: relative;
}

.header-bottom__label .header-bottom__search {
  position: absolute;
  top: -12px;
  right: 8px;
}

.header-bottom__text {
  border: none;
  width: 100%;
  background: #d8e1ea;
  border-radius: 4px;
  padding: 17px 120px 15px 16px;
}

.header-bottom__search {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 11px 24px;
  background: #2a79cc;
  border-radius: 4px;
}

.header-bottom__fuctional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-bottom__btn .header-bottom__num {
  position: absolute;
  top: -9px;
  left: 11px;
}

.header-bottom__btn + .header-bottom__btn {
  margin-left: 24px;
}

.header-bottom__total {
  font-size: 16px;
  line-height: 24px;
  color: #2f2421;
  margin-left: 13px;
}

.header-bottom__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 17px;
  height: 17px;
  background: #edd258;
  border: 2px solid #e8eff5;
  border-radius: 16px;
  font-size: 10px;
  line-height: 9px;
  color: #0e192e;
}

.header-bottom__icon {
  width: 24px;
  height: 10px;
  position: relative;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  margin: 0;
  margin-right: 16px;
}

.header-bottom__icon span {
  position: absolute;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  width: 24px;
  height: 3px;
  background: #091f3a;
  border-radius: 8px;
  left: 0;
}

.header-bottom__icon span:before,
.header-bottom__icon span:after {
  position: absolute;
  content: "";
  height: 3px;
  width: 24px;
  background: #091f3a;
  border-radius: 8px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition: top 0.25s 0.25s, -webkit-transform 0.25s;
  transition: top 0.25s 0.25s, -webkit-transform 0.25s;
  transition: transform 0.25s, top 0.25s 0.25s;
  transition: transform 0.25s, top 0.25s 0.25s, -webkit-transform 0.25s;
}

.header-bottom__icon span:before {
  left: 0;
  top: -8px;
}

.header-bottom__icon span:after {
  left: 0;
  top: 8px;
}

.header-bottom__icon.open span {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  background: transparent;
}

.header-bottom__icon.open span:before,
.header-bottom__icon.open span:after {
  -webkit-transition: top 0.4s, -webkit-transform 0.25s 0.25s;
  transition: top 0.4s, -webkit-transform 0.25s 0.25s;
  transition: top 0.4s, transform 0.25s 0.25s;
  transition: top 0.4s, transform 0.25s 0.25s, -webkit-transform 0.25s 0.25s;
  top: 0px;
}

.header-bottom__icon.open span:before {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.header-bottom__icon.open span:after {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.slider__inner {
  padding: 32px 0 80px;
}

.main-slider {
  max-width: 1320px;
  width: 100%;
}

.main-slider__item {
  width: 100%;
}

.main-slider__card {
  width: 100%;
  padding: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-slider__title {
  font-size: 48px;
  line-height: 52px;
  max-width: 588px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 209px;
}

.main-slider__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 52px;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}

.main-slider__more::before {
  position: absolute;
  content: "";
  width: 52px;
  height: 65px;
  left: 0;
  top: -25px;
  background-image: url("../img/icons/slash.svg");
}

.main-slider__more img {
  margin-left: 16px;
}

.main-slider__more:hover img {
  -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 24px;
}

.main-slider .slick-arrow {
  position: absolute;
  bottom: 60px;
  right: 60px;
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
}

.main-slider .slick-prev.slick-arrow {
  right: 125px;
}

.catalog__inner {
  padding: 80px 0px;
}

.catalog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 24px;
}

.catalog__item {
  max-width: 424px;
  width: 100%;
  background: #e8eff5;
  border-radius: 4px;
  padding: 36px 32px 32px;
}

.catalog__img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog__title {
  font-size: 21px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0e192e;
  margin: 24px 0;
}

.catalog__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 360px;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.catalog__link {
  font-size: 14px;
  line-height: 21px;
  padding: 8px 12px 7px;
  background: #fff;
  border-radius: 4px;
}

.news__inner {
  padding: 80px 0 160px;
}

.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.news__item {
  max-width: 312px;
  width: 100%;
  min-height: 539px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__head {
  width: 312px;
  height: 312px;
  overflow: hidden;
}

.news__img {
  width: 312px;
  height: 312px;
  overflow: hidden;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.news__img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.news__img-triangle {
  -webkit-clip-path: polygon(51% 0, 0% 100%, 100% 100%);
          clip-path: polygon(51% 0, 0% 100%, 100% 100%);
  border-radius: 0;
}

.news__img-rombus {
  border-radius: 0;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.news__img--trinagle {
  border-radius: 0;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.news__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 0 12px;
  font-size: 14px;
  line-height: 21px;
  color: #878c9e;
}

.news__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 24px;
}

.news__view img {
  margin-right: 10px;
}

.news__card-title {
  font-size: 21px;
  line-height: 28px;
  color: #0e192e;
}

.news__tags {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__tag + .news__tag {
  margin-left: 24px;
}

.news__tag {
  cursor: pointer;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #2a79cc;
}

.news__btn {
  margin: 0 auto;
  color: #0e192e;
}

.catalog-main__inner {
  padding: 34px 0 160px;
}

.catalog-main__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.catalog-main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 331px;
  min-height: 340px;
  background: #fff;
  border: 1px solid #d8e1ea;
  border-radius: 4px 0px 0px 4px;
  padding: 72px 32px 32px;
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.catalog-main__item:hover {
  border: 1px solid #2a79cc;
  border-radius: 0px;
  cursor: pointer;
}

.catalog-main__img {
  width: 220px;
  height: 137px;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog-main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #0e192e;
}

.category__inner {
  padding: 34px 0 80px;
}

.category__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category-filter {
  width: 312px;
}

.category-filter__title {
  font-size: 16px;
  line-height: 24px;
  color: #0e192e;
  margin-bottom: 24px;
}

.category-filter__item + .category-filter__item {
  margin-top: 32px;
}

.category-filter__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #0e192e;
  margin-bottom: 16px;
  cursor: pointer;
}

.category-filter__arrow-top {
  margin-left: 10px;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.category-filter__arrow-top--active {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.category-filter__label + .category-filter__label {
  margin-top: 12px;
}

.category-filter__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: #0e192e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.category-filter .irs--flat {
  width: 312px;
  height: 40px;
  margin-top: -16px;
}

.category-filter .irs--flat .irs-line {
  top: 25px;
  background: #d8e1ea;
  height: 2px;
  border-radius: 0;
}

.category-filter .irs--flat .irs-bar {
  top: 25px;
  height: 2px;
  background: #2a79cc;
}

.category-filter .irs--flat .irs-handle {
  top: 20px;
  width: 12px;
  height: 12px;
  background: #2a79cc;
  border-radius: 26px;
  cursor: pointer;
}

.category-filter .irs--flat .irs-handle > i:first-child {
  display: none;
}

.category-filter .irs--flat .irs-min,
.category-filter .irs--flat .irs-max {
  display: none;
}

.category-filter .irs--flat .irs-from,
.category-filter .irs--flat .irs-to,
.category-filter .irs--flat .irs-single {
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  border-radius: 4px;
  display: none;
}

.category-filter__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2px;
}

.category-filter__price-from, .category-filter__price-to {
  width: 143px;
  height: 52px;
  background: #e8eff5;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  color: #0e192e;
  padding: 14px 16px;
}

.category-filter__span {
  width: 16px;
  height: 2px;
  background-color: rgba(14, 25, 46, 0.9);
}

.category-filter__label .category-filter__checkbox {
  margin-right: 8px;
}

.category-filter__label input {
  -webkit-appearance: none;
  position: absolute;
}

.category-filter__checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border: none;
  background: #e8eff5;
  border-radius: 4px;
}

.category-filter__checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  display: none;
}

.category-filter__label input:checked ~ .category-filter__checkbox .category-filter__checkmark {
  display: block;
}

.category-filter__label input:checked ~ .category-filter__checkbox {
  border: none;
  background: #2a79cc;
  -webkit-box-shadow: 0px 15px 20px rgba(37, 37, 37, 0.02);
          box-shadow: 0px 15px 20px rgba(37, 37, 37, 0.02);
}

.category-content {
  width: 987px;
  margin-left: auto;
}

.category-content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 12px 0 16px;
}

.category-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 329px;
  min-height: 448px;
  background: #fff;
  border: 1px solid #d8e1ea;
  border-radius: 4px 0px 0px 0px;
  padding: 24px 24px 24px;
  position: relative;
}

.category-content__item .category-content__functional {
  position: absolute;
  top: 24px;
  right: 23px;
}

.category-content__item:hover {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  border: 1px solid #2a79cc;
}

.category-content__favorite {
  margin-left: 12px;
}

.category-content__favorite--active path, .category-content__compare--active path {
  fill: #2a79cc;
}

.category-content__img {
  margin: 0 auto;
  margin-top: auto;
  width: 180px;
  height: 205px;
  -o-object-fit: cover;
     object-fit: cover;
}

.category-content__title {
  font-size: 16px;
  line-height: 24px;
  color: #0e192e;
  margin-bottom: 37px;
}

.category-content__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
}

.category-content__price-old {
  font-size: 14px;
  line-height: 21px;
  color: #2a79cc;
  position: relative;
}

.category-content__price-old:after {
  position: absolute;
  content: "";
  height: 1px;
  background: #2a79cc;
  left: 0;
  top: 12px;
  width: 80px;
}

.category-content__price-new {
  font-size: 24px;
  line-height: 27px;
  color: #0e192e;
}

.category-content__span {
  font-size: 16px;
  line-height: 24px;
  color: #0e192e;
  margin-left: 6px;
}

.category-content__cart {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 48px;
  height: 48px;
  background: #2a79cc;
  border-radius: 4px;
}

.category-content__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category-content__sort-title {
  font-size: 16px;
  line-height: 24px;
  color: #0e192e;
  margin-right: 12px;
}

.category-content__select {
  margin-right: auto;
}

.category-content .jq-selectbox__select {
  height: 24px;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
  border: none;
  color: #2a79cc;
  padding: 0 24px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
}

.category-content .jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border: none;
  background-image: url("../img/icons/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  background-color: #fff;
}

.category-content .jq-selectbox__trigger-arrow {
  display: none;
}

.category-content .jq-selectbox__select-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}

.category-content .jq-selectbox.focused .jq-selectbox__select {
  border: none;
}

.category-content__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 24px;
}

.category-content__view {
  margin-right: 12px;
  margin-left: auto;
  font-size: 16px;
  line-height: 24px;
  color: #0e192e;
}

.category-content__select-view {
  margin-right: 0;
}

.category-content__btn + .category-content__btn {
  margin-left: 12px;
}

.catalog-pagination {
  padding: 16px 0 80px;
}

.catalog-pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-pagination__link {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 56px;
  height: 56px;
  background: #e8eff5;
  border-radius: 4px 0px 0px 4px;
}

.catalog-pagination__link-more {
  background-color: #fff;
}

.catalog-pagination__link--active {
  background: #2a79cc;
  color: #fff;
}

.catalog-pagination__link--active:hover {
  color: #fff;
}

.seo-category {
  padding-bottom: 160px;
}

.seo-category__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0;
  background: #e8eff5;
  border-radius: 4px;
  background-image: url("../img/category/bg.svg");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
}

.seo-category__title {
  max-width: 447px;
  width: 100%;
  padding-left: 60px;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0e192e;
}

.seo-category__info {
  max-width: 649px;
  width: 100%;
  margin-left: auto;
  padding-right: 60px;
}

.seo-category__item {
  font-size: 16px;
  line-height: 24px;
  color: #0e192e;
}

.seo-category__item + .seo-category__item {
  margin-top: 30px;
}

.seo-category__info-title {
  font-size: 21px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0e192e;
  margin: 68px 0 16px;
}

.product__title {
  margin-bottom: 24px;
}

.product-info {
  padding-bottom: 40px;
}

.product-info__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.product-info__code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 8px;
  background: #e8eff5;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  color: #878c9e;
}

.product-info__num {
  color: #0e192e;
  margin-left: 8px;
}

.product-info__favorite, .product-info__compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 24px;
}

.product-info__favorite img,
.product-info__favorite svg, .product-info__compare img,
.product-info__compare svg {
  margin-right: 8px;
}

.product-info__favorite {
  margin-left: auto;
  color: #2a79cc;
}

.product-info__compare {
  color: #878c9e;
  margin-left: 48px;
}

.product-info__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-info__slider {
  width: 648px;
  height: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.product-info__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 88px;
  margin-top: -12px;
}

.product-info__preview-item {
  width: 88px;
  height: 88px;
  border: 1px solid #d8e1ea;
  border-radius: 4px;
  margin-top: 12px;
  cursor: pointer;
}

.product-info__preview-card {
  width: 88px;
  height: 88px;
  border: 1px solid #d8e1ea;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-info__preview-img {
  margin: auto;
  width: 62px;
  height: 71px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.product-info__main-slider {
  width: 536px;
  margin-left: auto;
  height: 390px;
}

.product-info__main-item {
  width: 536px;
  height: 390px;
}

.product-info__main-card {
  width: 536px;
  height: 390px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.product-info__main-img {
  width: 338px;
  height: 386px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.product-info__techs {
  width: 312px;
}

.product-info__title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #0e192e;
}

.product-info__list {
  margin: 12px 0 24px;
}

.product-info__item + .product-info__item {
  margin-top: 8px;
}

.product-info__item, .product-info__btn {
  font-size: 16px;
  line-height: 24px;
}

.product-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #878c9e;
}

.product-info__span {
  margin-left: 8px;
  color: #0e192e;
}

.product-info__btn {
  color: #2a79cc;
}

.product-info__buy {
  width: 312px;
  padding: 32px;
  background: #e8eff5;
  border-radius: 4px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.product-info__price-old {
  font-size: 16px;
  line-height: 24px;
  color: #2a79cc;
  position: relative;
}

.product-info__price-old:after {
  position: absolute;
  content: "";
  height: 1px;
  background: #2a79cc;
  left: 0;
  top: 12px;
  width: 80px;
}

.product-info__price-new {
  font-size: 48px;
  line-height: 52px;
  color: #0e192e;
}

.product-info__price-new span {
  font-size: 14px;
  line-height: 16px;
}

.product-info__alert {
  border-top: 1px solid #d8e1ea;
  border-bottom: 1px solid #d8e1ea;
  margin: 24px 0 32px;
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-info__discount {
  padding: 4px 8px;
  background: #edd258;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  color: #0e192e;
}

.product-info__order {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #0e192e;
  margin-bottom: 4px;
}

.product-info__box-price {
  font-size: 16px;
  line-height: 24px;
  color: #0e192e;
}

.product-info__add-cart {
  background: #2a79cc;
  border-radius: 4px;
  padding: 18px 0px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffff;
}

.similar__inner,
.other__inner {
  padding: 80px 0;
}

.similar__wrapper,
.other__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.other__inner {
  padding-bottom: 160px;
}

.tabs {
  width: 100%;
  max-width: 500px;
}

/* Стили для списка вкладок */
.tab-header {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
}

/* Стили для вкладки */
.tab-header__item {
  padding: 10px 20px;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
}

/* Стили для активной вкладки */
.tab-header__item.active {
  color: red;
  border-bottom: none;
  position: relative;
  background-color: #fff;
}

/* Стиль для списка контейнеров с содержимым вкладок */
.tab-content {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Стили для контейнера с содержимым вкладки. По умолчанию скрыт. */
.tab-content__item {
  display: none;
  padding: 20px;
  border: 1px solid #ddd;
  margin-top: -1px;
}

/* Стили для активного контейнера вкладки */
.tab-content__item.active {
  display: block;
}

.footer {
  background: #091f3a;
  background-image: url("../img/icons/footer-bg.svg");
  background-repeat: no-repeat;
  background-position-x: left;
}

.footer-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-top__logo {
  margin-right: auto;
}

.footer-top__item {
  margin-left: auto;
}

.footer-top__list {
  margin-bottom: 96px;
}

.footer-top__items + .footer-top__items {
  margin-top: 16px;
}

.footer-top__link {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
}

.footer-top__link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.footer-top__addres-item, .footer-top__newsletter {
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.footer-top__item--newsletter {
  width: 424px;
}

.footer-top__newsletter {
  margin-bottom: 24px;
}

.footer-top__form {
  max-width: 424px;
  width: 100%;
}

.footer-top__label, .footer-top__input {
  width: 100%;
}

.footer-top__label {
  position: relative;
}

.footer-top__label .footer-top__button {
  position: absolute;
  top: -12px;
  right: 8px;
}

.footer-top__input {
  border: none;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  margin-bottom: 196px;
  padding: 17px 16px 15px;
  color: #fff;
}

.footer-top__button {
  background: #2a79cc;
  border-radius: 4px;
  padding: 11px 14px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
}

.footer-top__contact {
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
}

.footer-top__contact--mail {
  text-transform: lowercase;
}

.footer-bottom {
  padding: 60px 0 98px;
}

.footer-bottom__title, .footer-bottom__text {
  font-size: 13px;
  line-height: 18px;
  color: #fff;
}

.footer-bottom__text + .footer-bottom__text {
  margin-top: 20px;
}

.footer-bottom__text {
  color: #878c9e;
}

.footer-bottom__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 39px;
}

.footer-bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__item + .footer-bottom__item {
  margin-left: 24px;
}

.footer-bottom__link {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
}

.footer-bottom__development {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 21px;
  color: #878c9e;
}

.footer-bottom__development img {
  margin-left: 16px;
}
/*# sourceMappingURL=style.css.map */