@media (max-width: 375px) {
  .header {
    background: tan;
    img {
      width: 120px;
      height: 100px;
    }
    .header-menu {
      top: 290px;
    }
  }
  .header-empty {
    &__inner {
      padding: 25px 0;
      align-items: flex-start;
    }
  }
  .header-top {
    &__wrapper {
      flex-direction: column-reverse;
    }
    &__phone {
      margin-left: 0;
    }
    &__wrapper {
      align-items: flex-start;
    }
    &__phone,
    &__town {
      margin-left: -10px;
    }
    &__hamburger {
      position: absolute;
      right: 10px;
      top: 25px;
    }
  }
  .header-bottom {
    margin-left: -140px;
    row-gap: 15px;
    margin-top: 25px;
  }

  .slider {
    &__inner {
      padding: 30px 0px;
    }
  }
  .main-slider {
    &__card {
      padding: 20px 15px;
    }
    &__title {
      max-width: 100%;
      font-size: 25px;
      line-height: 35px;
    }
    &__more {
      font-size: 16px;
      line-height: 18px;
      padding-left: 0;
      &::before {
        display: none;
      }
    }
    .slick-arrow {
      bottom: 20px;
      right: 10px;
      width: 30px;
      height: 30px;
    }
    .slick-prev.slick-arrow {
      right: 45px;
    }
  }
  .title {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 25px;
  }
  .catalog {
    &__inner {
      padding: 30px 0px;
    }
  }
  .news {
    .container {
      padding: 0;
    }
    .title {
      margin-left: 15px;
    }
    &__content {
      padding: 0 15px;
      flex-wrap: nowrap;
      overflow: auto;
      margin-bottom: 50px;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
    &__item + .news__item {
      margin-left: 20px;
    }
    &__tag + .news__tag {
      margin-left: 20px;
    }
    &__item {
      max-width: 350px;
    }
    &__head {
      width: 350px;
    }
  }
  .catalog-main {
    &__wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .category {
    &__inner {
      padding: 0px;
    }
    .title {
      font-size: 36px;
    }
  }
  .category-content {
    &__sort {
      white-space: nowrap;
      flex-wrap: wrap;
      row-gap: 10px;
    }
    &__view {
      margin-right: 10px;
      margin-left: 0;
    }
    &__sort-title {
      margin-right: auto;
    }
    &__filter-sort {
      margin-right: 10px;
    }
  }
  .seo-category {
    &__inner {
      padding: 30px 0;
      width: 100%;
      flex-direction: column;
    }
    &__title {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 15px;
    }
    &__info {
      padding: 0 15px;
    }
  }
  .catalog-pagination {
    &__link {
      width: 40px;
      height: 40px;
    }
  }
  .category-filter {
    top: 89px;
  }
  .product {
    &__title {
      font-size: 25px;
      line-height: 35px;
    }
  }
  .product-info {
    &__slider {
      flex-direction: column-reverse;
    }
  }
  .tabs-main {
    &__tab {
      font-size: 15px;
      line-height: 18px;
    }
    &__tab + .tabs-main__tab {
      margin-left: 15px;
    }
    &__review .tabs-main__span,
    .tabs-main__question .tabs-main__span {
      right: -10px;
    }
    &__wrapper {
      flex-direction: column;
    }
    &__techs {
      margin-right: 0;
    }
    &__items {
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }
    &__items-span {
      width: 100%;
    }
  }
  .product-info {/*
    &__main {
      border: 1px solid #000;
    }*/
    &__top {
      flex-wrap: wrap;
      row-gap: 15px;
    }
    &__preview {
      width: 350px;
      margin-top: 0;
    }
    &__preview-item {
      width: 88px !important;
    }
    &__slider {
      width: 350px;
    }
    &__main-slider {
      width: 350px;
      margin-left: 0;
      height: 280px;
    }
    &__main-item {
      height: 280px;
    }
    &__main-card {
      width: 320px;
      height: 280px;
    }
    &__main-img {
      width: 280px;
      height: 180px;
      object-fit: contain;
    }
  }
  .similar,
  .other {
    .title {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 25px;
    }
    &__wrapper {
      display: flex;
      white-space: nowrap;
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
    .category-content__item + .category-content__item {
      margin-left: 20px;
    }
  }
  .footer {
    background: peru;
  }
  .footer-top {
    &__inner {
      flex-wrap: wrap;
      padding: 40px 0px;
      row-gap: 15px;
    }
    &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &__item {
      margin-top: -102px;
    }
    &__item--newsletter {
      margin-top: 0;
      width: 100%;
    }
  }
  .footer-bottom {
    padding: 30px 0px;
    &__list {
      flex-direction: column;
    }
    &__item {
      text-align: center;
    }
    &__item + .footer-bottom__item {
      margin-left: 0px;
      margin-top: 15px;
    }
    &__development {
      flex-direction: column;
      text-align: center;
    }
  }
}
