@import "fonts";
@import "vars";
@import "reset";
@import "global";
.start-page {
  //background-color: #b6cbd1;
  height: 100vh;
  &__wrapper {
    display: flex;
    flex-direction: column;
    //background-color: #43bf57;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  &__link + .start-page__link {
    margin-top: 20px;
  }
  &__link {
    //@extend %CeraPro-Medium-500;
    font-size: 20px;
    line-height: 24px;
    color: forestgreen;
    text-align: center;
  }
}
.header {
  background: #e8eff5;
  position: relative;
  .header-menu {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    //bottom: -581px;
    //top: 138px;
    top: 171px;
    z-index: 99;
    display: none;
  }
  &__logo {
    margin-right: 68px;
  }
}
.header-empty {
  &__inner {
    display: flex;
    align-items: center;
    padding: 32px 0;
  }
}
.header-menu {
  min-height: 614px;
  background: #fff;
  box-shadow: 0px 20px 50px rgba(8, 31, 58, 0.1);
  &__categories {
    max-width: 239px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 614px;
  }
  &__item + .header-menu__item {
    margin-top: 4px;
  }
  &__item {
    width: 100%;
  }
  &__btn {
    width: 100%;
    padding: 15px 16px;
    background: #fff;
    @extend %Onest-ExtraBold-800;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #0e192e;
    text-align: left;
    &:hover {
      background: #e8eff5;
    }
  }
}
.header-menu.active {
  display: block;
}

.header-top {
  &__wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 14px;
  }
  &__list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  &__town,
  &__phone {
    display: flex;
    align-items: center;
    svg {
      margin-right: 8px;
    }
  }
  &__phone {
    margin-left: 24px;
  }
  &__item + .header-top__item {
    margin-left: 24px;
  }
}
.header-nav {
  max-width: 100%;
  width: 100%;
  margin-left: 0;
  margin-right: auto;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 13px;
  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 4px;
    padding: 16px 24px;
    @extend %Onest-ExtraBold-800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #0e192e;
    img {
      margin-right: 16px;
    }
  }
  &__form {
    max-width: 575px;
    width: 100%;
  }
  &__label {
    width: 100%;
    position: relative;
    .header-bottom__search {
      position: absolute;
      top: -12px;
      right: 8px;
    }
  }
  &__text {
    border: none;
    width: 100%;
    background: #d8e1ea;
    border-radius: 4px;
    padding: 17px 120px 15px 16px;
  }
  &__search {
    @extend %Onest-ExtraBold-800;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 11px 24px;
    background: #2a79cc;
    border-radius: 4px;
  }
  &__fuctional {
    display: flex;
    align-items: center;
  }
  &__btn {
    display: flex;
    align-items: center;
    position: relative;
    .header-bottom__num {
      position: absolute;
      //right: -9px;
      top: -9px;
      left: 11px;
    }
  }
  &__btn + .header-bottom__btn {
    margin-left: 24px;
  }
  &__total {
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #2f2421;
    margin-left: 13px;
  }
  &__num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    background: #edd258;
    border: 2px solid #e8eff5;
    border-radius: 16px;
    @extend %Onest-Medium-500;
    font-size: 10px;
    line-height: 9px;
    color: #0e192e;
  }
  &__icon {
    width: 24px;
    height: 10px;
    position: relative;
    transition-duration: 1s;
    margin: 0;
    margin-right: 16px;
  }
  &__icon span {
    position: absolute;
    transition-duration: 0.25s;
    transition-delay: 0.25s;
    width: 24px;
    height: 3px;
    background: #091f3a;
    border-radius: 8px;
    left: 0;
  }
  &__icon span:before,
  &__icon span:after {
    position: absolute;
    content: "";
    height: 3px;
    width: 24px;
    background: #091f3a;
    border-radius: 8px;
    transition-duration: 0.25s;
    transition: transform 0.25s, top 0.25s 0.25s;
  }
  &__icon span:before {
    left: 0;
    top: -8px;
  }
  &__icon span:after {
    left: 0;
    top: 8px;
  }
  &__icon.open span {
    transition-duration: 0.1s;
    transition-delay: 0.25s;
    background: transparent;
  }
  &__icon.open span:before,
  &__icon.open span:after {
    transition: top 0.4s, transform 0.25s 0.25s;
    top: 0px;
  }
  &__icon.open span:before {
    transform: rotateZ(-45deg);
  }
  &__icon.open span:after {
    transform: rotateZ(45deg);
  }
}
.slider {
  &__inner {
    padding: 32px 0 80px;
  }
}
.main-slider {
  max-width: 1320px;
  width: 100%;
  &__item {
    width: 100%;
  }
  &__card {
    width: 100%;
    padding: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__title {
    @extend %Onest-ExtraBold-800;
    font-size: 48px;
    line-height: 52px;
    max-width: 588px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 209px;
  }
  &__more {
    display: flex;
    align-items: center;
    padding-left: 52px;
    @extend %Onest-ExtraBold-800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 52px;
      height: 65px;
      left: 0;
      top: -25px;
      background-image: url("../img/icons/slash.svg");
    }
    img {
      margin-left: 16px;
    }
    &:hover {
      img {
        transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
        margin-left: 24px;
      }
    }
  }
  .slick-arrow {
    position: absolute;
    bottom: 60px;
    right: 60px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
  }
  .slick-prev.slick-arrow {
    right: 125px;
  }
}
.catalog {
  &__inner {
    padding: 80px 0px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 24px;
  }
  &__item {
    max-width: 424px;
    width: 100%;
    background: #e8eff5;
    border-radius: 4px;
    padding: 36px 32px 32px;
  }
  &__img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  &__title {
    @extend %Onest-ExtraBold-800;
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0e192e;
    margin: 24px 0;
  }
  &__categories {
    display: flex;
    max-width: 360px;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__link {
    font-size: 14px;
    line-height: 21px;
    padding: 8px 12px 7px;
    background: #fff;
    border-radius: 4px;
  }
}
.news {
  &__inner {
    padding: 80px 0 160px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  &__item {
    max-width: 312px;
    width: 100%;
    min-height: 539px;
    display: flex;
    flex-direction: column;
  }
  &__head {
    width: 312px;
    height: 312px;
    overflow: hidden;
  }
  &__img {
    width: 312px;
    height: 312px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.6s ease-out;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__img-triangle {
    clip-path: polygon(51% 0, 0% 100%, 100% 100%);
    border-radius: 0;
  }
  &__img-rombus {
    border-radius: 0;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  &__img--trinagle {
    border-radius: 0;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }

  &__info {
    display: flex;
    align-items: center;
    margin: 32px 0 12px;
    @extend %Onest-Regular-400;
    font-size: 14px;
    line-height: 21px;
    color: #878c9e;
  }
  &__view {
    display: flex;
    align-items: center;
    margin-left: 24px;
    img {
      margin-right: 10px;
    }
  }
  &__card-title {
    @extend %Onest-Regular-400;
    font-size: 21px;
    line-height: 28px;
    color: #0e192e;
  }
  &__tags {
    margin-top: auto;
    display: flex;
    align-items: center;
  }
  &__tag + .news__tag {
    margin-left: 24px;
  }
  &__tag {
    cursor: pointer;
    @extend %Onest-ExtraBold-800;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #2a79cc;
  }
  &__btn {
    margin: 0 auto;
    color: #0e192e;
  }
}
.catalog-main {
  &__inner {
    padding: 34px 0 160px;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &__item {
    display: flex;
    flex-direction: column;
    width: 331px;
    min-height: 340px;
    background: #fff;
    border: 1px solid #d8e1ea;
    border-radius: 4px 0px 0px 4px;
    padding: 72px 32px 32px;
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    &:hover {
      border: 1px solid #2a79cc;
      border-radius: 0px;
      cursor: pointer;
    }
  }
  &__img {
    width: 220px;
    height: 137px;
    object-fit: cover;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    @extend %Onest-ExtraBold-800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #0e192e;
  }
}
.category {
  &__inner {
    padding: 34px 0 80px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.category-filter {
  width: 312px;
  //background: rgba($color: #000, $alpha: 0.15);
  &__title {
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
    margin-bottom: 24px;
  }
  &__item + .category-filter__item {
    margin-top: 32px;
  }
  &__item-title {
    display: flex;
    align-items: center;
    @extend %Onest-Bold-700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #0e192e;
    margin-bottom: 16px;
    cursor: pointer;
  }
  &__arrow-top {
    margin-left: 10px;
    transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  &__arrow-top--active {
    transform: rotateX(-180deg);
    transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  &__label + .category-filter__label {
    margin-top: 12px;
  }
  &__label {
    // Тут мы просто центрируем чекбокс и текст
    display: flex;
    align-items: center;
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
    width: fit-content;
    cursor: pointer;
    //background-color: teal;
  }
  .irs--flat {
    width: 312px;
    height: 40px;
    margin-top: -16px;
  }
  .irs--flat .irs-line {
    top: 25px;
    background: #d8e1ea;
    height: 2px;
    border-radius: 0;
  }
  .irs--flat .irs-bar {
    top: 25px;
    height: 2px;
    background: #2a79cc;
  }
  .irs--flat .irs-handle {
    top: 20px;
    width: 12px;
    height: 12px;
    background: #2a79cc;
    border-radius: 26px;
    cursor: pointer;
  }
  .irs--flat .irs-handle > i:first-child {
    display: none;
  }
  .irs--flat .irs-min,
  .irs--flat .irs-max {
    display: none;
  }
  .irs--flat .irs-from,
  .irs--flat .irs-to,
  .irs--flat .irs-single {
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    border-radius: 4px;
    display: none;
  }
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
  }
  &__price-from,
  &__price-to {
    width: 143px;
    height: 52px;
    background: #e8eff5;
    border-radius: 4px;
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
    padding: 14px 16px;
  }
  &__span {
    width: 16px;
    height: 2px;
    background-color: rgba($color: #0e192e, $alpha: 0.9);
  }
  &__label .category-filter__checkbox {
    margin-right: 8px;
  }
  &__label input {
    -webkit-appearance: none; // Скрываем оригинальный чекбокс
    position: absolute; // После скрытия оставется пустое пространство,
    // но абсолютное позиционирование это устранит
  }
  &__checkbox {
    // Тут стилизуем сам чекбокс
    position: relative;
    width: 20px;
    height: 20px;
    border: none;
    background: #e8eff5;
    border-radius: 4px;
  }

  &__checkmark {
    // Тут центритуем и пишем стили для иконки
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //width: 80%;
    height: auto;
    display: none; // Скрываем иконку
  }
  &__label input:checked ~ .category-filter__checkbox .category-filter__checkmark {
    display: block; // Показываем иконку, когда чекбокс активен
  }
  &__label input:checked ~ .category-filter__checkbox {
    border: none;
    background: #2a79cc;
    box-shadow: 0px 15px 20px rgba(37, 37, 37, 0.02);
    // Если вы хотите не только отображать икнонку, но и менять
    // сам чекбокс после активации - напишите сюда код для активного состояния
  }
}
.category-content {
  width: 987px;
  margin-left: auto;
  //background-color: rgba($color: #000, $alpha: 0.15);
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12px 0 16px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    width: 329px;
    min-height: 448px;
    background: #fff;
    border: 1px solid #d8e1ea;
    border-radius: 4px 0px 0px 0px;
    padding: 24px 24px 24px;
    position: relative;
    .category-content__functional {
      position: absolute;
      top: 24px;
      right: 23px;
    }
    &:hover {
      transition: all 0.6s ease-in-out;
      border: 1px solid #2a79cc;
    }
  }
  &__favorite {
    margin-left: 12px;
  }
  &__favorite--active,
  &__compare--active {
    path {
      fill: #2a79cc;
    }
  }
  &__img {
    margin: 0 auto;
    margin-top: auto;
    width: 180px;
    height: 205px;
    object-fit: cover;
  }
  &__title {
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
    margin-bottom: 37px;
  }
  &__buy {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
  &__price-old {
    @extend %Onest-Regular-400;
    font-size: 14px;
    line-height: 21px;
    color: #2a79cc;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      height: 1px;
      background: #2a79cc;
      left: 0;
      top: 12px;
      width: 80px;
    }
  }
  &__price-new {
    @extend %Onest-ExtraBold-800;
    font-size: 24px;
    line-height: 27px;
    color: #0e192e;
  }
  &__span {
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
    margin-left: 6px;
  }
  &__cart {
    display: grid;
    place-items: center;
    width: 48px;
    height: 48px;
    background: #2a79cc;
    border-radius: 4px;
  }
  &__sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__sort-title {
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
    margin-right: 12px;
  }
  &__select {
    margin-right: auto;
  }
  .jq-selectbox__select {
    height: 24px;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    border: none;
    color: #2a79cc;
    padding: 0 24px 0 0;
    display: flex;
    background: #fff;
  }
  .jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
    border: none;
    background-image: url("../img/icons/arrow-select.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    background-color: #fff;
  }
  .jq-selectbox__trigger-arrow {
    display: none;
  }
  .jq-selectbox__select-text {
    display: flex;
    align-items: center;
    background: #fff;
  }
  .jq-selectbox.focused .jq-selectbox__select {
    border: none;
  }
  &__type {
    display: flex;
    align-items: center;
    margin-left: 24px;
  }
  &__view {
    margin-right: 12px;
    margin-left: auto;
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
  }
  &__select-view {
    margin-right: 0;
  }
  &__btn + .category-content__btn {
    margin-left: 12px;
  }
}
.catalog-pagination {
  padding: 16px 0 80px;
  &__list {
    display: flex;
    align-items: center;
  }
  &__link {
    display: grid;
    place-items: center;
    width: 56px;
    height: 56px;
    background: #e8eff5;
    border-radius: 4px 0px 0px 4px;
  }
  &__link-more {
    background-color: #fff;
  }
  &__link--active {
    background: #2a79cc;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}
.seo-category {
  padding-bottom: 160px;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    background: #e8eff5;
    border-radius: 4px;
    background-image: url("../img/category/bg.svg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
  }
  &__title {
    max-width: 447px;
    width: 100%;
    padding-left: 60px;
    @extend %Onest-ExtraBold-800;
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    color: #0e192e;
  }
  &__info {
    max-width: 649px;
    width: 100%;
    margin-left: auto;
    padding-right: 60px;
  }
  &__item {
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
  }
  &__item + .seo-category__item {
    margin-top: 30px;
  }
  &__info-title {
    @extend %Onest-ExtraBold-800;
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0e192e;
    margin: 68px 0 16px;
  }
}
.product {
  //&__inner {
  //}
  &__title {
    margin-bottom: 24px;
  }
}
.product-info {
  padding-bottom: 40px;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }
  &__code {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    background: #e8eff5;
    border-radius: 8px;
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #878c9e;
  }
  &__num {
    color: #0e192e;
    margin-left: 8px;
  }
  &__favorite,
  &__compare {
    display: flex;
    align-items: center;
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    img,
    svg {
      margin-right: 8px;
    }
  }
  &__favorite {
    margin-left: auto;
    color: #2a79cc;
  }
  &__compare {
    color: #878c9e;
    margin-left: 48px;
  }
  &__main {
    display: flex;
    justify-content: space-between;
  }
  &__slider {
    width: 648px;
    height: 390px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  &__preview {
    display: flex;
    flex-direction: column;
    width: 88px;
    margin-top: -12px;
  }
  &__preview-item {
    width: 88px;
    height: 88px;
    border: 1px solid #d8e1ea;
    border-radius: 4px;
    margin-top: 12px;
    cursor: pointer;
  }
  &__preview-card {
    width: 88px;
    height: 88px;
    border: 1px solid #d8e1ea;
    border-radius: 4px;
    display: flex;
  }
  &__preview-img {
    margin: auto;
    width: 62px;
    height: 71px;
    object-fit: cover;
    object-position: center;
  }
  &__main-slider {
    width: 536px;
    margin-left: auto;
    height: 390px;
  }
  &__main-item {
    width: 536px;
    height: 390px;
  }
  &__main-card {
    width: 536px;
    height: 390px;
    display: grid;
    place-items: center;
  }
  &__main-img {
    width: 338px;
    height: 386px;
    object-fit: cover;
    object-position: center;
  }
  &__techs {
    width: 312px;
  }
  &__title {
    @extend %Onest-Bold-700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #0e192e;
  }
  &__list {
    margin: 12px 0 24px;
  }
  &__item + .product-info__item {
    margin-top: 8px;
  }
  &__item,
  &__btn {
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
  }
  &__item {
    display: flex;
    align-items: center;
    color: #878c9e;
  }
  &__span {
    margin-left: 8px;
    color: #0e192e;
  }
  &__btn {
    color: #2a79cc;
  }
  &__buy {
    width: 312px;
    padding: 32px;
    background: #e8eff5;
    border-radius: 4px;
    height: fit-content;
  }
  &__price-old {
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #2a79cc;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      height: 1px;
      background: #2a79cc;
      left: 0;
      top: 12px;
      width: 80px;
    }
  }
  &__price-new {
    @extend %Onest-ExtraBold-800;
    font-size: 48px;
    line-height: 52px;
    color: #0e192e;
    span {
      @extend %Onest-Regular-400;
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__alert {
    border-top: 1px solid #d8e1ea;
    border-bottom: 1px solid #d8e1ea;
    margin: 24px 0 32px;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__discount {
    padding: 4px 8px;
    background: #edd258;
    border-radius: 8px;
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
  }
  &__order {
    @extend %Onest-Bold-700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #0e192e;
    margin-bottom: 4px;
  }
  &__box-price {
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
  }
  &__add-cart {
    background: #2a79cc;
    border-radius: 4px;
    padding: 18px 0px;
    width: 100%;
    @extend %Onest-Bold-700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffff;
  }
}
.similar,
.other {
  &__inner {
    padding: 80px 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.other {
  &__inner {
    padding-bottom: 160px;
  }
}

.tabs-main {
  &__inner {
    padding: 40px 0 80px;
  }
  &__tab {
    @extend %Onest-ExtraBold-800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #0e192e;
    padding-bottom: 32px;
    margin-bottom: -2px;
    //background-color: rgba($color: #0e192e, $alpha: 0.2);
  }
  &__tab + .tabs-main__tab {
    margin-left: 32px;
  }
  &__review,
  &__question {
    position: relative;
    .tabs-main__span {
      position: absolute;
      top: -15px;
      right: -18px;
    }
  }
  &__span {
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #2a79cc;
  }
  &__content {
    padding-top: 60px;
  }
  &__item {
    width: 100%;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    max-width: 984px;
    width: 100%;
  }
  &__title,
  &__techs-title {
    @extend %Onest-ExtraBold-800;
    text-transform: uppercase;
    color: #0e192e;
  }
  &__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 32px;
  }

  &__text {
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
    margin: 16px 0 68px;
  }
  &__techs-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
  }
  &__items + .tabs-main__items {
    margin-top: 20px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #878c9e;
  }
  &__items-span {
    width: 424px;
    color: #0e192e;
  }
  &__box {
    width: 312px;
    margin-left: auto;
  }
  &__questions {
    border: 1px solid #d8e1ea;
    border-radius: 4px;
    padding: 32px;
  }
  &__questions-title {
    @extend %Onest-ExtraBold-800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #0e192e;
    margin: 32px 0 8px;
  }
  &__questions-text {
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
    margin-bottom: 32px;
  }
  &__questions-btn {
    width: 100%;
    padding: 14px 0px 13px;
    background: #2a79cc;
    border-radius: 4px;
    @extend %Onest-Bold-700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #fff;
  }
  &__reviews {
    max-width: 872px;
    width: 100%;
  }
  &__review + .tabs-main__review {
    margin-top: 60px;
  }
  &__head {
    display: flex;
    align-items: center;
  }
  &__author {
    @extend %Onest-Bold-700;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
  }
  &__bullet {
    width: 4px;
    height: 4px;
    background: #2a79cc;
    margin: 0 18px;
    border-radius: 50%;
  }
  &__date {
    @extend %Onest-Regular-400;
    font-size: 14px;
    line-height: 21px;
    color: #878c9e;
  }
  &__descriptions {
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
    margin: 12px 0 16px;
  }
  &__rating,
  &__like,
  &__dislike {
    display: flex;
    align-items: center;
  }
  &__dislike {
    margin-left: 8px;
  }
  &__like,
  &__dislike {
    display: flex;
    align-items: center;
    @extend %Onest-Regular-400;
    font-size: 14px;
    line-height: 21px;
    color: #878c9e;
    cursor: pointer;
    svg {
      margin-right: 8px;
    }
  }
  &__ask {
    display: flex;
    margin-top: 32px;
  }
  &__comments {
    margin-left: 32px;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
  }
  &__admin {
    @extend %Onest-Bold-700;
  }
  &__comment {
    @extend %Onest-Regular-400;
    margin-top: 12px;
  }
}

.tabs {
  &__content {
    width: 100%;
    border-bottom: 1px solid #d8e1ea;
  }
}
.tabs-wrapper {
  .active {
    border-bottom: 2px solid #2a79cc;
  }
}

.cart {
  &__inner {
    padding: 35px 0 160px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 47px;
  }
  &__title {
    text-transform: uppercase;
  }
  &__delete {
    display: flex;
    align-items: center;
    margin-left: auto;
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #878c9e;
  }
  &__trash {
    margin-right: 15px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d8e1ea;
    border-radius: 4px 4px 0px 0px;
    padding: 24px;
    border-bottom: none;
    &:last-child {
      border-bottom: 1px solid #d8e1ea;
    }
  }
  &__images {
    display: grid;
    place-items: center;
    border: 1px solid #d8e1ea;
    border-radius: 4px;
    width: 140px;
    margin-right: 16px;
    height: 120px;
  }
  &__img {
    width: 103px;
    height: 117px;
    object-fit: cover;
  }
  &__info {
    width: 468px;
  }
  &__info-title {
    @extend %Onest-Regular-400;
    font-size: 18px;
    line-height: 26px;
    color: #0e192e;
  }
  &__code {
    display: flex;
    align-items: center;
    @extend %Onest-Regular-400;
    font-size: 14px;
    line-height: 21px;
    color: #878c9e;
  }
  &__code-number {
    margin-left: 8px;
    color: #0e192e;
  }
  .category-content__price {
    margin: 0 auto;
  }
  .jq-number {
    padding: 0 36px 0 0;
    background: #e8eff5;
    border-radius: 4px;
    width: 180px;
    height: 60px;
    border: none;
    overflow: hidden;
  }
  .jq-number__field {
    width: inherit;
    height: inherit;
    display: flex;
    border: none;
  }
  .jq-number__field input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
    padding: 0;
    text-align: center;
  }
  .jq-number__spin {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 0px;
    background-color: #fff;
    box-shadow: none;
    text-shadow: none;
  }
  .jq-number__spin.minus,
  .jq-number__spin.plus {
    top: 50%;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
  }
  .jq-number__spin.minus {
    left: 16px;
    background-image: url("../img/icons/minus.svg");
  }
  .jq-number__spin.plus {
    right: 16px;
    background-image: url("../img/icons/plus.svg");
  }
  .jq-number__spin.minus:after {
    display: none;
  }
  .jq-number__spin:after {
    display: none;
  }
  &__total {
    display: flex;
    align-items: center;
    width: 648px;
    margin-left: auto;
    padding-left: 44px;
    margin-top: 48px;
  }
  &__price {
    width: 248px;
  }
  &__span {
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
  }
  &__price-new {
    @extend %Onest-ExtraBold-800;
    font-size: 40px;
    line-height: 42px;
    color: #0e192e;
    span {
      @extend %Onest-Regular-400;
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__btn {
    padding: 18px 32px;
    background: #2a79cc;
    border-radius: 4px;
    @extend %Onest-Bold-700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    margin-left: auto;
  }
}
.cart-checkout {
  &__inner {
    padding: 34px 0 160px;
  }
  &__title {
    text-transform: uppercase;
  }
  &__autorization {
    display: flex;
    align-items: center;
    width: 1096px;
    margin-bottom: 48px;
  }
  &__user {
    width: 100px;
    height: 100px;
    background-image: url("../img/user.png");
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
  }
  &__text {
    margin-left: 32px;
  }
  &__link-autorization {
    color: #2a79cc;
    @extend %Onest-ExtraBold-800;
  }
  &__text {
    @extend %Onest-Regular-400;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
  }
  &__tab + .cart-checkout__tab {
    margin-left: 32px;
  }
  &__tab {
    @extend %Onest-ExtraBold-800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #0e192e;
    padding-bottom: 32px;
  }
  &__items + .cart-checkout__items {
    margin-top: 24px;
  }
  &__items {
    &:first-child {
      margin-top: 48px;
    }
  }
  &__items {
    padding: 48px;
    border: 1px solid #d8e1ea;
    border-radius: 4px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }
  &__input + .cart-checkout__input {
    margin-left: 16px;
  }
  &__input,
  &__textarea {
    background: #e8eff5;
    border-radius: 4px;
    padding: 17px 16px 15px;
    border: none;
  }
  &__input {
    width: 397px;
  }
  &__textarea {
    width: 100%;
    height: 180px;
    resize: none;
  }
  &__type-payment {
    margin-bottom: 32px;
  }
  .tovar-info__label + .tovar-info__label {
    margin-left: 16px;
  }
  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &__head-title {
    @extend %Onest-ExtraBold-800;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #2a79cc;
    margin-left: 24px;
  }
  &__input--street {
    width: 810px;
  }
  &__input--flat {
    width: 191px;
  }
  &__input--adress {
    width: 811px;
  }
  &__select {
    width: 397px;
  }
  &__delivery {
    flex-direction: column;
    row-gap: 32px;
  }
  &__delivery-type {
    display: flex;
  }
  &__map {
    background: #ffffff;
    border: 1px solid #d8e1ea;
    border-radius: 4px;
    padding: 24px;
  }
  &__map-title {
    @extend %Onest-ExtraBold-800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #0e192e;
    margin-bottom: 16px;
  }
  &__total {
    width: 604px;
    margin-top: 48px;
    padding: 0;
    flex-wrap: wrap;
    row-gap: 32px;
    .cart-checkout__text {
      font-weight: 400;
      margin-left: 0;
    }
    .cart-checkout__link-autorization {
      font-weight: 400;
    }
  }
}
.cart-content {
  &__payment {
    display: flex;
    .tovar-info__span {
      display: flex;
      //justify-content: space-between;
      //align-items: center;
      flex-direction: column;
      width: 400px;
      outline: none;
      transition: 0.2s;
      position: relative;

      background: #fff;
      @extend %Onest-Regular-400;
      line-height: 22px;
      color: #1b1c21;
      padding: 24px;
      cursor: pointer;
      font-size: 16px;
      line-height: 24px;
      color: #0e192e;
      border: 1px solid #d8e1ea;
      border-radius: 4px;
    }
    .tovar-info__head {
      display: flex;
      margin-bottom: 31px;
    }
    .tovar-info__round {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: #f2f3f5;
      border: 2px solid #d0d2d7;
      margin-left: 0;
      margin-right: 8px;
      position: relative;
      &:after {
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        background: #0093a2;
        border-radius: 50%;
        left: 0;
        top: 0;
        transform: translate(50%, 50%);
        opacity: 0;
      }
    }
    .tovar-info__label .tovar-info__checkbox:checked + .tovar-info__span {
      border-color: #2a79cc;
      .tovar-info__round {
        background: #ffffff;
        border-color: #0093a2;
        &:after {
          opacity: 1;
        }
      }
    }
    .tovar-info__content {
      display: flex;
      justify-content: space-between;
      @extend %Onest-ExtraBold-800;
      font-size: 16px;
      line-height: 21px;
      color: #0e192e;
    }
    .tovar-info__price {
      display: flex;
      align-items: center;
      @extend %Onest-Regular-400;
      font-size: 16px;
      line-height: 21px;
      color: #0e192e;
    }
    .tovar-info__more {
      color: #878c9e;
    }
    .tovar-info__number {
      @extend %Onest-ExtraBold-800;
      margin: 0 3px;
    }
  }
}
.lk-main {
  &__inner {
    padding: 34px 0 160px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__menu {
    width: 312px;
  }
  &__item + .lk-main__item {
    margin-top: 4px;
  }
  &__button {
    display: flex;
    align-items: center;
    padding: 12px 16px 12px 12px;
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
    svg {
      margin-right: 8px;
    }
  }
  &__button--active {
    background: #e8eff5;
    border-radius: 4px;
    svg {
      path {
        fill: #2a79cc;
      }
    }
  }
  &__info {
    width: 984px;
    margin-left: auto;
  }
  &__items {
    border: 1px solid #d8e1ea;
    border-radius: 4px;
    padding: 48px 48px 44px;
  }
  &__items + .lk-main__items {
    margin-top: 24px;
  }
  &__info-title {
    @extend %Onest-ExtraBold-800;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #0e192e;
  }
  &__form {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__label {
    width: 100%;
  }
  &__label-title {
    @extend %Onest-Regular-400;
    font-size: 14px;
    line-height: 21px;
    color: #0e192e;
    margin-bottom: 8px;
  }
  &__input {
    width: 100%;
    padding: 17px 16px 15px;
    background: #e8eff5;
    border-radius: 4px;
    border: none;
  }
  &__label + .lk-main__label {
    margin-top: 36px;
  }
  &__save,
  &__change {
    padding: 18px 32px;
    background: #2a79cc;
    border-radius: 4px;
    @extend %Onest-Bold-700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 32px;
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
    margin: 36px 0;
    .lk-main__label {
      width: 436px;
    }
    .lk-main__label + .lk-main__label {
      margin-top: 0;
      margin-left: 16px;
    }
  }
}
.lk-orders-item {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }
  &__body {
    display: flex;
    justify-content: space-between;
  }
  &__list {
    width: 376px;
    .lk-orders-item__items + .lk-orders-item__items {
      margin-top: 20px;
    }
    .lk-orders-item__items {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      @extend %IBMPlexSans-Regular-400;
      font-size: 14px;
      line-height: 21px;
      color: #878c9e;
    }
  }
  &__span {
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
  }
  &__content {
    .lk-orders-item__items {
      border: 1px solid #d8e1ea;
      border-radius: 0px 0px 4px 4px;
      padding: 24px;
    }
    .cart__total {
      width: 100%;
      margin-left: 0px;
      padding-left: 0px;
      margin-top: 40px;
    }
  }
  &__items-title {
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
  }
  &__code {
    display: flex;
    align-items: center;
    margin: 4px 0 20px;
  }
  &__code,
  &__num,
  &__qty {
    @extend %Onest-Regular-400;
    font-size: 14px;
    line-height: 21px;
    color: #878c9e;
  }
  &__num {
    color: #0e192e;
    margin-left: 8px;
  }
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__new-price {
    @extend %Onest-ExtraBold-800;
    font-size: 24px;
    line-height: 27px;
    color: #0e192e;
    span {
      @extend %Onest-Regular-400;
      font-size: 16px;
      line-height: 24px;
      margin-left: 8px;
    }
  }
  &__qty {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
  }
  &__bullet {
    width: 4px;
    height: 4px;
    background: #2a79cc;
    border-radius: 50%;
    margin: 0 10px;
  }
}
.intro {
  &__inner {
    padding: 34px 0 80px;
  }
  &__info {
    width: 100%;
    min-height: 600px;
    border-radius: 4px;
    padding: 60px;
    background: #e8eff5 url("../img/delivery.png") right center no-repeat no-repeat;
  }
  &__content {
    width: 588px;
    min-height: 480px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  &__text {
    @extend %Onest-Regular-400;
    font-size: 21px;
    line-height: 30px;
    color: #0e192e;
  }
  &__btn {
    display: flex;
    align-items: center;
    padding-left: 52px;
    @extend %Onest-ExtraBold-800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #0e192e;
    position: relative;
    margin-top: auto;
    &::before {
      position: absolute;
      content: "";
      width: 52px;
      height: 65px;
      left: 0;
      top: -25px;
      background-image: url("../img/icons/slash.svg");
    }
    svg {
      margin-left: 16px;
    }
  }
}
.delivery-content {
  &__inner {
    padding: 80px 0 160px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__wrapper + .delivery-content__wrapper {
    margin-top: 18px;
  }
  &__info {
    width: 872px;
  }
  &__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 24px;
    text-transform: uppercase;
  }
  &__item + .delivery-content__item {
    margin-top: 16px;
  }
  &__item {
    @extend %Onest-Regular-400;
    font-size: 18px;
    line-height: 28px;
    color: #0e192e;
    padding-left: 32px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/icons/slash.svg");
      background-size: cover;
      width: 15px;
      height: 16px;
      left: 0;
      top: 7px;
    }
  }
  &__question {
    width: 312px;
    margin-left: auto;
    border: 1px solid #d8e1ea;
    border-radius: 4px;
    padding: 32px;
  }
  &__text {
    margin: 32px 0 8px;
    @extend %Onest-ExtraBold-800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #0e192e;
  }
  &__span {
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
  }
  &__btn {
    padding: 14px 24px 13px;
    background: #2a79cc;
    border-radius: 4px;
    @extend %Onest-Bold-700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 32px;
  }
}
.payment {
  &__inner {
    padding: 34px 0 160px;
  }
  &__title {
    text-transform: uppercase;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__items {
    width: 648px;
    border: 1px solid #d8e1ea;
    border-radius: 4px;
    padding: 32px;
  }
  &__items-title {
    margin: 32px 0 48px;
    @extend %Onest-ExtraBold-800;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #2a79cc;
  }
  &__item {
    padding-left: 32px;
    @extend %Onest-ExtraBold-800;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #0e192e;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/icons/slash.svg");
      background-size: cover;
      width: 15px;
      height: 16px;
      left: 0;
      top: 0px;
    }
    & + .payment__item {
      margin-top: 32px;
    }
  }
  &__span {
    margin-top: 11px;
    display: block;
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    text-transform: initial;
  }
}
.price-list {
  &__info {
    background: #e8eff5 url("../img/price-list.png") right center no-repeat no-repeat;
  }
  &__btn {
    padding: 14px 24px 13px;
    background: #2a79cc;
    border-radius: 4px;
    @extend %Onest-Bold-700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #fff;
    margin-top: auto;
    width: fit-content;
  }
}
.phone {
  &__inner {
    padding: 34px 0;
  }
  &__title {
    text-transform: uppercase;
  }
  &__wrapper {
    border-top: 1px solid #d8e1ea;
    padding-top: 20px;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }
  &__text,
  &__feedback {
    @extend %Onest-Regular-400;
    font-size: 18px;
    line-height: 28px;
    color: #0e192e;
  }
  &__feedback {
    color: #2a79cc;
  }
  &__tel {
    display: block;
    margin: 0 auto;
    width: fit-content;
    @extend %Onest-ExtraBold-800;
    font-size: 80px;
    line-height: 84px;
    text-transform: uppercase;
    color: #0e192e;
  }
}
.contacts {
  &__inner {
    padding: 34px 0 80px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 648px;
    border: 1px solid #d8e1ea;
    border-radius: 4px;
    padding: 32px;
  }
  &__img {
    margin: 0 auto;
  }
  &__title {
    @extend %Onest-ExtraBold-800;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #0e192e;
    margin: 48px 0 24px;
  }
  &__subtitle,
  &__tel,
  &__addres,
  &__time {
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #878c9e;
  }
  &__tel {
    display: block;
    font-size: 21px;
    line-height: 30px;
    margin: 4px 0 32px;
  }
  &__addres {
    font-size: 21px;
    line-height: 30px;
    color: #0e192e;
  }
  &__time {
    display: flex;
    align-items: center;
    color: #0e192e;
    margin: 8px 0 32px;
    img {
      margin-right: 12px;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    padding: 14px 24px 13px;
    background: #e8eff5;
    border-radius: 4px;
    @extend %Onest-Bold-700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #2a79cc;
    img {
      margin-right: 8px;
    }
  }
}
.company-details {
  &__inner {
    padding: 80px 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__content {
    width: 648px;
  }
  &__title {
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid #d8e1ea;
    padding: 17px 0 32px;
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #878c9e;
  }
  &__subtitle {
    width: 200px;
  }
  &__text {
    width: 424px;
    margin-left: auto;
    color: #0e192e;
  }
  &__download {
    width: 280px;
    background: #e8eff5;
    border-radius: 4px;
    margin-left: auto;
    padding: 24px;
  }
  &__map-partners {
    margin: 63px 0 4px;
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #0e192e;
  }
  &__size {
    @extend %IBMPlexSans-Regular-400;
    font-size: 14px;
    line-height: 21px;
    color: #878c9e;
  }
  .jq-file {
    //background-color: darkgreen;
    width: 60px;
    border-radius: 0;
    box-shadow: none;
    &__name {
      //background-image: url("../img/icons/file.svg");
      //background: url("../img/icons/file.svg") center center no-repeat violet;
      background: url("../img/icons/file.svg") center center no-repeat;
      border: none;
      padding: 0;
      border-radius: 0;
      box-shadow: none;
      height: 54px;
    }
    &__browse {
      display: none;
    }
  }
}
.partners {
  &__inner {
    padding: 80px 0;
  }
  &__title {
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 24px;
  }
  &__item {
    width: 200px;
    height: 160px;
    border: 1px solid #d8e1ea;
    border-radius: 4px;
    display: grid;
    place-items: center;
  }
}
.favorite {
  &__inner {
    padding: 34px 0 134px;
  }
  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
  }
  &__title {
    margin-bottom: 0;
    text-transform: uppercase;
  }
  &__delete {
    display: flex;
    align-items: center;
    margin-left: auto;
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 24px;
    color: #878c9e;
    svg {
      margin-right: 15px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
}
.news-cart {
  &__inner {
    padding: 34px 0 60px;
  }
  &__title {
    text-transform: uppercase;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 120px;
  }
}
.news-pagination {
  &__inner {
    padding-top: 60px;
  }
  .catalog-pagination {
    padding-top: 0;
  }
}
.news-item {
  &__title {
    text-transform: uppercase;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 100px;
  }
  &__info {
    width: 872px;
  }
  &__img {
    width: 872px;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
  }
  &__description {
    margin: 100px 0;
  }
  &__description-title {
    @extend %Onest-ExtraBold-800;
    font-size: 36px;
    line-height: 40px;
    color: #0e192e;
    margin-bottom: 24px;
  }
  &__item + .news-item__item {
    margin-top: 16px;
  }
  &__item {
    padding-left: 32px;
    @extend %Onest-Regular-400;
    font-size: 18px;
    line-height: 28px;
    color: #0e192e;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/icons/slash.svg");
      background-size: cover;
      width: 15px;
      height: 16px;
      left: 0;
      top: 0px;
    }
  }
  &__items + .news-item__items {
    margin-top: 80px;
  }
  &__h3,
  &__h4,
  &__h5,
  &__h6 {
    @extend %Onest-ExtraBold-800;
    text-transform: uppercase;
    color: #0e192e;
    margin-bottom: 16px;
  }
  &__h3 {
    font-size: 24px;
    line-height: 28px;
  }
  &__h4 {
    font-size: 21px;
    line-height: 24px;
  }
  &__h5 {
    font-size: 18px;
    line-height: 21px;
  }
  &__h6 {
    font-size: 16px;
    line-height: 18px;
  }
  &__text + .news-item__text {
    margin-top: 30px;
  }
  &__text {
    @extend %Onest-Regular-400;
    font-size: 18px;
    line-height: 28px;
    color: #0e192e;
  }
  &__blockquote {
    @extend %Onest-Regular-400;
    font-size: 21px;
    line-height: 30px;
    color: #878c9e;
    padding-left: 77px;
    margin: 48px 0 58px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/icons/slash.svg");
      background-size: cover;
      width: 52px;
      height: 65px;
      left: 0;
      top: 0px;
    }
  }
  &__right-side {
    width: 312px;
    border: 1px solid #d8e1ea;
    border-radius: 4px;
    margin-left: auto;
    padding: 32px;
    .news-item__item + .news-item__item {
      margin-top: 24px;
    }
    .news-item__item {
      padding-left: 0;
      &::before {
        display: none;
      }
    }
    .news-item__info {
      width: 248px;
      display: flex;
      align-items: center;
      @extend %Onest-Regular-400;
      font-size: 14px;
      line-height: 21px;
      color: #878c9e;
    }
    .news-item__text {
      @extend %Onest-Regular-400;
      font-size: 16px;
      line-height: 24px;
      color: #0e192e;
      margin-top: 8px;
      padding: 0;
    }
  }
  &__view {
    @extend %Onest-ExtraBold-800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #0e192e;
    margin-bottom: 24px;
  }
  &__views {
    margin-left: 24px;
    svg {
      margin-right: 8px;
    }
  }
  &__inner {
    padding: 34px 0 110px;
  }
  &__bottom {
    display: flex;
    align-items: center;
    border-top: 1px solid #d8e1ea;
    padding-top: 24px;
    .news-item__views,
    .news-item__date {
      @extend %Onest-Regular-400;
      font-size: 14px;
      line-height: 21px;
      color: #878c9e;
    }
    .news-item__views {
      margin-left: 24px;
    }
  }
  &__tags {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  &__tag + .news-item__tag {
    margin-left: 24px;
  }
  &__tag {
    cursor: pointer;
    @extend %Onest-ExtraBold-800;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #2a79cc;
  }
}
.page-404 {
  &__inner {
    padding: 34px 0 50px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    color: #0e192e;
  }
  &__error {
    width: 677px;
    padding-left: 52px;
    @extend %Onest-ExtraBold-800;
    font-size: 325px;
    line-height: 325px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 52px;
      height: 65px;
      left: 0;
      top: 0px;
      background-image: url("../img/icons/slash.svg");
    }
  }
  &__subtitle {
    @extend %Onest-Regular-400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.02em;
    margin-bottom: 23px;
  }
  &__btn {
    padding: 14px 24px 13px;
    background: #2a79cc;
    border-radius: 4px;
    @extend %Onest-Bold-700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #fff;
    width: fit-content;
  }
}
.buy-now{
  &__inner{
    padding: 50px 0 80px;
  }
  &__wrapper{
    padding: 100px 0 80px;
    border-top: 1px solid #D8E1EA;
  }
  &__title{
    text-transform: uppercase;
  }
  &__content{
    display: flex;
    justify-content: space-between;
  }
}
.footer {
  background: #091f3a;
  background-image: url("../img/icons/footer-bg.svg");
  background-repeat: no-repeat;
  background-position-x: left;
}
.footer-top {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 60px;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.15);
  }
  &__logo {
    margin-right: auto;
  }
  &__item {
    margin-left: auto;
  }
  &__list {
    margin-bottom: 96px;
  }
  &__items + .footer-top__items {
    margin-top: 16px;
  }
  &__link {
    @extend %Onest-ExtraBold-800;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #fff;
    &:hover {
      color: rgba($color: #fff, $alpha: 0.5);
    }
  }
  &__addres-item,
  &__newsletter {
    @extend %Onest-Regular-400;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
  }
  &__item--newsletter {
    width: 424px;
  }
  &__newsletter {
    margin-bottom: 24px;
  }
  &__form {
    max-width: 424px;
    width: 100%;
  }
  &__label,
  &__input {
    width: 100%;
  }
  &__label {
    position: relative;
    .footer-top__button {
      position: absolute;
      top: -12px;
      right: 8px;
    }
  }
  &__input {
    border: none;
    background: rgba($color: #fff, $alpha: 0.15);
    border-radius: 4px;
    margin-bottom: 196px;
    padding: 17px 16px 15px;
    color: #fff;
  }
  &__button {
    background: #2a79cc;
    border-radius: 4px;
    padding: 11px 14px;
    @extend %Onest-ExtraBold-800;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #fff;
  }
  &__contact {
    @extend %Onest-ExtraBold-800;
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
  }
  &__contact--mail {
    text-transform: lowercase;
  }
}
.footer-bottom {
  padding: 60px 0 98px;
  &__title,
  &__text {
    @extend %Onest-Regular-400;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
  }
  &__text + .footer-bottom__text {
    margin-top: 20px;
  }
  &__text {
    color: #878c9e;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 39px;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item + .footer-bottom__item {
    margin-left: 24px;
  }
  &__link {
    @extend %Onest-ExtraBold-800;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #fff;
  }
  &__development {
    display: flex;
    align-items: center;
    @extend %Onest-Regular-400;
    font-size: 14px;
    line-height: 21px;
    color: #878c9e;
    img {
      margin-left: 16px;
    }
  }
}
@import "media";
